.preloader
	position: fixed
	left: 0
	right: 0
	top: 0
	bottom: 0
	z-index: 1000
	background-color: $mainColor
	transition: all 1s
	opacity: 1
	visibility: visible
	&_done
		opacity: 0
		visibility: hidden
.loader
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

path
  fill: #f00
  stroke: #f00

#T1
  animation: visible 2s ease .2s infinite

#T2
  animation: visible 2s ease .4s infinite

#T3
  animation: visible 2s ease .6s infinite

#T4
  animation: visible 2s ease .8s infinite

#T5
  animation: visible 2s ease 1s infinite

#T6
  animation: visible 2s ease 1.2s infinite

@keyframes visible
  0%
    opacity: 1
    stroke-opacity: 1

  50%
    opacity: 0
    stroke-opacity: 0

  100%
    opacity: 1
    stroke-opacity: 1
