.team
	.wrapper
		+title({
			"main": "Meet our team",
			"behind": "Expert"
		})(class = "team__title")
		.team__members.row
			+member([
				{
					"img": {
					"srcset": "static/img/content/willsomMale.jpg, static/img/content/willsomMale-2x.jpg 2x",
					"default": "static/img/content/willsomMale.jpg"
					},
					"name": "Robert Willsom",
					"position": "web developer",
					"text": "Lorem ipsum dolor sit amet, nemore latine graecis id est, omnium latine eu per. Has ne illud appetere fabellas, ne quaeque nominati mea.",
					"social": [
						{"name":"twtr",
						"adrss": "#twtr"},
						{"name": "lnkdn",
						"adrss": "#lnkdn"},
						{"name": "fb",
						"adrss": "#fb"},
						{"name": "skype",
						"adrss": "#skype"},
						{"name": "pintrst",
						"adrss": "#pintrst"},
						{"name": "apple",
						"adrss": "#apple"}
					]

				},
				{
					"img": {
					"srcset": "static/img/content/willsomMale.jpg, static/img/content/willsomMale-2x.jpg 2x",
					"default": "static/img/content/willsomMale.jpg"
					},
					"name": "Robert Willsom",
					"position": "web developer",
					"text": "Lorem ipsum dolor sit amet, nemore latine graecis id est, omnium latine eu per. Has ne illud appetere fabellas, ne quaeque nominati mea.",
					"social": [
						{"name":"twtr",
						"adrss": "#twtr"},
						{"name": "lnkdn",
						"adrss": "#lnkdn"},
						{"name": "fb",
						"adrss": "#fb"},
						{"name": "skype",
						"adrss": "#skype"},
						{"name": "pintrst",
						"adrss": "#pintrst"},
						{"name": "apple",
						"adrss": "#apple"}
					]

				},
				{
					"img": {
					"srcset": "static/img/content/willsomFemale.jpg, static/img/content/willsomFemale-2x.jpg 2x",
					"default": "static/img/content/willsomFemale.jpg"
					},
					"name": "Robert Willsom",
					"position": "web developer",
					"text": "Lorem ipsum dolor sit amet, nemore latine graecis id est, omnium latine eu per. Has ne illud appetere fabellas, ne quaeque nominati mea.",
					"social": [
						{"name":"twtr",
						"adrss": "#twtr"},
						{"name": "lnkdn",
						"adrss": "#lnkdn"},
						{"name": "fb",
						"adrss": "#fb"},
						{"name": "skype",
						"adrss": "#skype"},
						{"name": "pintrst",
						"adrss": "#pintrst"},
						{"name": "apple",
						"adrss": "#apple"}
					]

				}
			])
