.debug {
  height: 100vh;
  position: fixed;
  width: 100%;
  display: none; }
  .debug > div {
    height: inherit;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 780px) {
      .debug > div {
        padding-left: 15px;
        padding-right: 15px; } }
    .debug > div > div {
      height: inherit;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px; }
      .debug > div > div > div {
        box-sizing: border-box;
        word-wrap: break-word;
        margin-left: 15px;
        margin-right: 15px;
        height: inherit;
        outline: 1px solid red;
        background: rgba(0, 0, 0, 0.3); }
        @media screen and (min-width: 1100px) {
          .debug > div > div > div {
            width: calc(8.33333% - 30px); } }
        @media screen and (min-width: 960px) {
          .debug > div > div > div {
            width: calc(8.33333% - 30px); } }
        @media screen and (min-width: 780px) {
          .debug > div > div > div {
            width: calc(8.33333% - 30px); } }
        @media screen and (min-width: 560px) {
          .debug > div > div > div {
            width: calc(8.33333% - 30px); } }

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }
  @media screen and (min-width: 780px) {
    .wrapper {
      padding-left: 15px;
      padding-right: 15px; } }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.logo img {
  vertical-align: middle; }

.text {
  font-family: Muli, Arial, sans-serif;
  font-size: 0.8125rem;
  letter-spacing: 0.5px;
  color: #757575; }
  .text_size_m {
    font-size: 1rem;
    line-height: 1.63; }
  .text_color_light {
    color: #fff; }

.subtitle {
  font-family: Montserrat-Bold, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #444444; }
  .subtitle_size_smaller {
    font-size: 1rem; }

.icon {
  width: 100%;
  height: 100%; }

.color_main {
  fill: #ffe400; }

.color_light {
  fill: #fff; }

.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .social__link {
    display: block;
    width: 19px;
    height: 19px; }

.header {
  height: 80px;
  line-height: 80px;
  background-color: #212121; }
  .header__logo {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px; }
    @media screen and (min-width: 1100px) {
      .header__logo {
        width: calc(25% - 30px); } }
  .header__nav {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0 2.375rem 0 2.375rem; }
    @media screen and (min-width: 1100px) {
      .header__nav {
        width: calc(75% - 30px); } }

.btn {
  min-width: 226px;
  min-height: 64px;
  font-size: 1.125rem;
  text-align: center;
  vertical-align: middle; }
  .btn_color_main {
    background-color: #ffe400;
    color: #212121; }
  .btn_color_clear {
    border: solid 1px #444444;
    background-color: transparent; }
  .btn_color_black {
    background-color: #212121;
    color: #ffe400; }
  .btn_textTransform {
    text-transform: uppercase; }
  .btn_size_s {
    min-width: 184px;
    min-height: 60px; }
  .btn_size_xs {
    min-width: 127px;
    min-height: 44px; }

.title {
  position: relative;
  line-height: .7;
  text-transform: uppercase;
  text-align: center; }
  .title_align_left {
    text-align: left; }
  .title__main {
    width: 100%;
    font-size: 1.875rem;
    font-family: Montserrat-Bold, Arial, sans-serif;
    color: #444444;
    font-weight: 900; }
    .title__main_pos_absolute {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
  .title__behind {
    font-size: 5.6875rem;
    font-family: Montserrat-Black, Arial, sans-serif;
    color: #f0f0f0; }

.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #000;
  transition: all 1s;
  opacity: 1;
  visibility: visible; }
  .preloader_done {
    opacity: 0;
    visibility: hidden; }

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.circle {
  width: 75px;
  height: 75px;
  border: 10px solid #fff;
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s infinite; }

.orbit {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -80px;
  animation: spin 2s infinite reverse; }

.square {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  background-color: #EFF2F6;
  border: 1px solid #000;
  animation: spin 1s infinite; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .nav__link {
    font-size: 0.875rem;
    font-family: Montserrat-Light, Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    transition: .5s ease-in-out; }
    .nav__link:hover {
      color: #ffe400; }

.footer {
  padding: 4rem 0 4.375rem 0;
  text-align: center;
  background-color: #212121; }
  .footer__phone {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px; }
    @media screen and (min-width: 1100px) {
      .footer__phone {
        width: calc(25% - 30px); } }
  .footer__social {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0 2.25rem 0 2.25rem; }
    @media screen and (min-width: 1100px) {
      .footer__social {
        width: calc(33.33333% - 30px); } }
    @media screen and (min-width: 1100px) {
      .footer__social {
        margin-left: calc(8.33333% + 15px); } }
    @media screen and (min-width: 1100px) {
      .footer__social {
        margin-right: calc(8.33333% + 15px); } }
  .footer__adress {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px; }
    @media screen and (min-width: 1100px) {
      .footer__adress {
        width: calc(25% - 30px); } }

.phone__link, .adress__link {
  display: block;
  width: 3.25rem;
  height: 3.25rem;
  box-sizing: border-box;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  border: 1px solid #b7b7b7;
  margin: 0 auto 2.06rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1); }

.phone__info, .adress__info {
  color: #fff; }

.mainScreen {
  padding: 31.4375rem 0 20.8125rem 0;
  overflow: hidden;
  background-color: #fcfcfc;
  position: relative; }
  .mainScreen::before {
    content: "O";
    display: block;
    font-family: Montserrat-Bold, Arial, sans-serif;
    font-size: 56.25rem;
    position: absolute;
    top: 3.25rem;
    right: -4.31rem;
    line-height: .75;
    color: #ffe400; }
  .mainScreen::after {
    content: "";
    display: block;
    width: 33.875rem;
    height: 58.5rem;
    position: absolute;
    right: 10.7%;
    bottom: 0;
    background: url(../../static/img/general/mainScreenBg-549w.png) center no-repeat;
    background-size: cover; }
  .mainScreen__row {
    -ms-flex-direction: column;
        flex-direction: column; }
  .mainScreen__title {
    margin-bottom: 5.5625rem;
    font-family: Montserrat-Black, Arial, sans-serif;
    color: #444444;
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    z-index: 1; }
    .mainScreen__title span {
      display: block; }
    .mainScreen__title::before {
      content: "";
      display: block;
      width: 12.375rem;
      height: 12.375rem;
      border-radius: 50%;
      position: absolute;
      top: -1.5rem;
      left: -1.5rem;
      z-index: -1;
      background-color: #ffe400; }
  .mainScreen__promo {
    width: 67.1%;
    font-size: 0.8125rem;
    margin-bottom: 1.5625rem;
    line-height: 1.85;
    letter-spacing: 0.5px;
    position: relative; }
    .mainScreen__promo::before {
      content: "C";
      display: block;
      font-family: Montserrat-Bold, Arial, sans-serif;
      font-size: 16.76563rem;
      width: 6.9375rem;
      overflow: hidden;
      position: absolute;
      top: 3.8125rem;
      right: 1.6875rem;
      line-height: .75;
      color: #ffe400; }
  .mainScreen__btn {
    display: block; }

.about {
  padding: 6.125rem 0 4.5625rem 0;
  text-align: center;
  position: relative; }
  .about__title {
    margin: 0 0 2.3125rem 0; }
  .about__text {
    margin: 0 0 4.4375rem 0;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px; }
    @media screen and (min-width: 1100px) {
      .about__text {
        width: calc(83.33333% - 30px); } }
    @media screen and (min-width: 1100px) {
      .about__text {
        margin-left: calc(8.33333%); } }
  .about__controls {
    margin: 0 0 5.1875rem 0; }
  .about__advantages {
    margin-bottom: 5.75rem; }
  .about__num {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5.75rem;
    padding-bottom: 4.5625rem; }
    @media screen and (min-width: 780px) {
      .about__num {
        padding-left: 15px;
        padding-right: 15px; } }
  .about__numTitle {
    margin: 0 0 7.75rem 0;
    text-transform: uppercase; }
  .about::before {
    content: "O";
    display: block;
    font-family: Montserrat-Bold, Arial, sans-serif;
    font-size: 87.3675rem;
    position: absolute;
    top: 5.5rem;
    left: -50%;
    line-height: .75;
    color: #ffe400;
    z-index: -1; }

.advantage {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  color: #fff; }
  @media screen and (min-width: 1100px) {
    .advantage {
      width: calc(33.33333% - 30px); } }
  .advantage_black {
    padding: 5.0625rem 1.6875rem 8.125rem 1.6875rem;
    background-color: #212121; }
  .advantage_light {
    padding: 3.5rem 1.6875rem 4.75rem 1.6875rem;
    background-color: #ffe400; }
  .advantage__title {
    font-family: Montserrat-Bold, Arial, sans-serif;
    font-size: 1.375rem; }
    .advantage__title_marg {
      margin: 0 0 2.4375rem 0; }

.advantage__icon {
  display: inline-block; }
  .advantage__icon_star {
    width: 111px;
    height: 103px;
    margin: 0.6875rem 0 3.5rem 0; }
  .advantage__icon_internet {
    width: 104px;
    height: 104px;
    margin: 0 0 3rem 0; }
  .advantage__icon_loked {
    height: 127px;
    margin: 0 0 2.75rem 0; }

.numPanel {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 1.25rem 0 2.25rem; }

.numItem__val {
  font-family: Montserrat-Bold, Arial, sans-serif;
  font-size: 2.875rem; }

.purchase {
  background-color: #fafafa; }
  .purchase__wrap {
    padding: 10.625rem 0 7.3125rem 0;
    position: relative; }
  .purchase__title {
    margin-bottom: 3.625rem; }
    .purchase__title .title__main {
      font-size: 1.625rem; }
    .purchase__title .title__behind {
      font-size: 4.5rem; }
  .purchase__promo {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px; }
    @media screen and (min-width: 1100px) {
      .purchase__promo {
        width: calc(50% - 30px); } }
  .purchase__text {
    margin-bottom: 3.75rem; }
  .purchase__list {
    margin: 0 0 2.25rem 0; }
  .purchase__img {
    width: 50%;
    padding-left: 0;
    position: absolute;
    top: 109px;
    right: 0; }
    .purchase__img::after {
      content: "O";
      display: block;
      font-family: Montserrat-Bold, Arial, sans-serif;
      font-size: 34.375rem;
      position: absolute;
      top: 4.875rem;
      left: 2rem;
      z-index: 1;
      line-height: .75;
      color: #ffe400; }
    .purchase__img::before {
      content: "";
      display: block;
      width: 100%;
      height: 70vh;
      max-height: 466px;
      position: absolute;
      z-index: 2;
      background: url(../../static/img/general/manRun-581w.png) center top no-repeat;
      background-size: cover; }
  .purchase .list__item {
    padding: 12px 0 12px 30px;
    position: relative; }
  .purchase .list__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 0;
    fill: #757575; }

.features {
  padding: 7.875rem 0 10.5rem 0; }
  .features__title {
    margin: 0 0 8.5625rem 0; }

.feature {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 83px;
  position: relative; }
  @media screen and (min-width: 1100px) {
    .feature {
      width: calc(33.33333% - 30px); } }
  .feature__icon {
    display: inline-block;
    width: 67px;
    height: 67px;
    padding: 22px;
    box-sizing: border-box;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .feature__icon_security, .feature__icon_interface {
      background-color: #73c8b7; }
    .feature__icon_ideas, .feature__icon_websiteBuilder {
      background-color: #31aae2; }
    .feature__icon_adminPanel {
      background-color: #c183d6; }
    .feature__icon_resolution {
      background-color: #eb768c; }
    .feature__icon_responsive {
      background-color: #ebd175; }
    .feature__icon_content {
      background-color: #718ac7; }
    .feature__icon_design {
      background-color: #4be3a4; }
  .feature__title {
    margin: 0 0 2rem 0; }
  .feature__text {
    margin-top: -10px; }

.portfolio {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.portfolioPrev {
  width: 25%;
  height: 310px;
  box-sizing: border-box;
  position: relative; }
  .portfolioPrev_travel {
    background: url(../../static/img/content/portfolio/prev1-483w.jpg) bottom center no-repeat;
    background-size: cover; }
  .portfolioPrev_fashion {
    background: url(../../static/img/content/portfolio/prev2-483w.jpg) center left no-repeat;
    background-size: cover; }
  .portfolioPrev_fantasy {
    background: url(../../static/img/content/portfolio/prev3-483w.jpg) center no-repeat;
    background-size: cover; }
  .portfolioPrev_animate {
    background: url(../../static/img/content/portfolio/prev4-483w.jpg) center no-repeat;
    background-size: cover; }
  .portfolioPrev_1 {
    background: url(../../static/img/content/portfolio/prev5-483w.jpg) center no-repeat;
    background-size: cover; }
  .portfolioPrev_2 {
    background: url(../../static/img/content/portfolio/prev6-483w.jpg) center no-repeat;
    background-size: cover; }
  .portfolioPrev_3 {
    background: url(../../static/img/content/portfolio/prev7-483w.jpg) center no-repeat;
    background-size: cover; }
  .portfolioPrev_4 {
    background: url(../../static/img/content/portfolio/prev8-483w.jpg) center no-repeat;
    background-size: cover; }
  .portfolioPrev__descr {
    width: 100%;
    padding: 1.625rem 1.9375rem 1.625rem 1.9375rem;
    border: 1px solid #b7b7b7;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0; }
  .portfolioPrev__name {
    margin: 0 0 0 0.9375rem;
    text-transform: uppercase;
    position: relative; }
  .portfolioPrev__controls {
    width: 96px;
    height: 20px;
    border: 1px solid #b7b7b7;
    position: absolute;
    top: 0;
    right: 5%;
    transform: translateY(-100%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: inherit; }
  .portfolioPrev__btn {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    position: absolute;
    bottom: -22px; }
    .portfolioPrev__btn_view {
      right: 9px;
      border: 1px solid #b7b7b7;
      background-color: #ffe400; }
    .portfolioPrev__btn_link {
      left: 9px;
      border: 1px solid #000;
      background-color: #fff; }

.fashion {
  width: 50%;
  height: 436px;
  background-color: red; }

.portfolioItem {
  width: 40%;
  margin: 0 auto;
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
  border: 2px solid #ffe400;
  background-color: #fff; }
  .portfolioItem__title {
    margin: 0 0 1.875em 0; }
  .portfolioItem__slider {
    width: 100%; }
  .portfolioItem__pic img {
    width: 100%;
    height: 336px; }
  .portfolioItem__prev img {
    width: 100%;
    height: 70px; }
  .portfolioItem__text {
    text-align: center;
    color: #444444; }

.slick-dots li button:before {
  font-size: 2.5rem;
  color: #757575; }

.service {
  padding: 10.0625rem 0 4.5rem 0;
  position: relative;
  overflow: hidden; }
  .service__title {
    margin: 0 0 6.375rem 0;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px; }
    @media screen and (min-width: 1100px) {
      .service__title {
        width: calc(50% - 30px); } }
    @media screen and (min-width: 1100px) {
      .service__title {
        margin-left: calc(50% + 15px); } }
  .service__advantages {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px; }
    @media screen and (min-width: 1100px) {
      .service__advantages {
        width: calc(50% - 30px); } }
    @media screen and (min-width: 1100px) {
      .service__advantages {
        margin-left: calc(50% + 15px); } }
  .service__teamPhoto {
    width: 45%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0; }
  .service::before {
    content: "O";
    display: block;
    font-family: Montserrat-Bold, Arial, sans-serif;
    font-size: 75rem;
    position: absolute;
    left: -26.5rem;
    bottom: -13rem;
    line-height: .75;
    color: #ffe400;
    opacity: .7;
    z-index: 2; }

.serviceAdvantage {
  width: 50%;
  padding: 3.1875rem 0 3.75rem 0;
  box-sizing: border-box;
  text-align: center;
  border-top: 1px solid gray; }
  .serviceAdvantage:nth-child(odd) {
    border-right: 1px solid #757575; }
  .serviceAdvantage:nth-child(-n+2) {
    border-top: none; }
  .serviceAdvantage__icon {
    display: inline-block;
    width: 41px;
    height: 41px;
    margin-bottom: 40px; }
  .serviceAdvantage__title {
    margin-bottom: 38px; }
  .serviceAdvantage__text {
    margin-top: -10px; }

.pricing {
  padding: 6.625rem 0 6.8125rem 0;
  position: relative;
  background-color: #ffe400; }
  .pricing::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../../static/img/general/pricingBg-1920w.jpg) center no-repeat;
    background-size: cover;
    opacity: .55;
    mix-blend-mode: multiply; }
  .pricing__title {
    margin: 0 0 8.875rem 0; }
    .pricing__title .title__behind {
      color: #444444;
      opacity: .3; }

.plan {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  text-align: center; }
  @media screen and (min-width: 1100px) {
    .plan {
      width: calc(33.33333% - 30px); } }
  .plan__header {
    padding: 1.875em 0 2.4375em 0;
    color: #fff;
    background-color: #444444;
    position: relative; }
    .plan__header::before, .plan__header_standart::before, .plan__header_premium::before, .plan__header_ultimate::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: .2; }
    .plan__header_standart::before {
      background: url(../../static/img/general/planBg1-365w.jpg) center left no-repeat;
      background-size: cover; }
    .plan__header_premium::before {
      background: url(../../static/img/general/planBg2-365w.jpg) center left no-repeat;
      background-size: cover; }
    .plan__header_ultimate::before {
      background: url(../../static/img/general/planBg3-365w.jpg) center left no-repeat;
      background-size: cover; }
  .plan__popular {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    padding: 0.875em 0 0.875em 0;
    font-size: 0.9375em;
    background-color: #e6e6e6; }
  .plan__title {
    font-size: 0.9375rem;
    font-family: Muli, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 0 0 2.8125rem 0;
    text-transform: uppercase; }
  .plan__priceBlock {
    margin: 0 0 2.125em 0; }
  .plan__price {
    font-size: 3.75rem;
    line-height: .7;
    font-family: Montserrat-Bold, Arial, sans-serif;
    position: relative; }
    .plan__price::before {
      content: "$";
      font-size: 2.5rem;
      font-family: Muli, Arial, sans-serif;
      position: absolute;
      left: -28px; }
  .plan__billingPer {
    font-size: 0.8125rem;
    margin-left: 14px;
    font-family: Muli, Arial, sans-serif;
    text-transform: uppercase;
    position: relative; }
    .plan__billingPer::before {
      content: "/";
      line-height: 1.24;
      position: absolute;
      top: 0;
      left: -10px; }
  .plan__descr {
    color: inherit; }
  .plan__details {
    margin-bottom: 4px;
    background-color: #fff; }
  .plan__item {
    padding: 1.5625em 0 1.5625em 0;
    color: #808080; }
  .plan__item:not(:last-child) {
    border-bottom: 1px solid #f0f0f0; }
  .plan__text {
    position: relative; }
    .plan__text::before {
      content: ">";
      position: absolute;
      top: 0;
      left: -14px;
      line-height: 1.24; }
  .plan__btn {
    display: block;
    width: 100%;
    padding: 1.125em 0 1em 0;
    font-size: 0.875rem;
    font-family: Montserrat-Bold, Arial, sans-serif;
    color: #444444;
    background-color: #fff; }

.team {
  padding: 15.9375rem 0 22.25rem 0; }
  .team__title {
    margin: 0 0 8rem 0; }

.member {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  position: relative; }
  @media screen and (min-width: 1100px) {
    .member {
      width: calc(33.33333% - 30px); } }
  .member__name {
    font-size: 1rem; }
  .member__info {
    padding: 0 1.5rem 0 1.5rem;
    background-color: #ebebeb; }
    .member__info:hover .member__details {
      display: block; }
  .member__infoItem {
    display: block;
    padding: 1.5rem 0 1.5rem 0;
    text-align: center; }
  .member__infoItem:not(:last-child) {
    border-bottom: 1px dashed #b7b7b7; }
  .member__position {
    font-size: 0.6875rem; }
  .member__img {
    margin-bottom: 8px; }
  .member img {
    width: 100%;
    height: auto; }
  .member__details {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6rem 1.5rem 0 1.5rem;
    text-align: center;
    background-color: #ffe400;
    color: #000;
    display: none; }
  .member__detailsName, .member__detailsPos {
    margin: 0 0 1.4375rem 0;
    font-family: Montserrat-Bold, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase; }
  .member__detailsPos {
    font-size: 1rem; }
  .member__detailsText {
    margin: 4.75rem 0 7.75rem 0;
    padding: 0 1rem 0 1rem;
    font-family: Muli, Arial, sans-serif;
    line-height: 1.71;
    font-size: 0.875rem; }
  .member__detailsSocial {
    padding: 2.5rem 2.125rem 3.125rem 2.125rem;
    border-top: 1px dashed #b7b7b7; }
  .member__socialLink {
    fill: rgba(0, 0, 0, 0.5); }

.member:hover .member__details {
  display: block; }

.contactBlock {
  padding: 7.5rem 0 8.125rem 0;
  background-color: #f0f0f0;
  background-image: url(../../static/img/general/map-1920w.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .contactBlock__title {
    margin: 0 0 10.875rem 0; }
    .contactBlock__title .title__behind {
      color: #e6e6e6; }
  .contactBlock__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px; }

.form__input {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  margin-bottom: 1.3125rem; }
  @media screen and (min-width: 1100px) {
    .form__input {
      width: calc(50% - 30px); } }

.form__textarea {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  min-height: 31.8125rem;
  margin-bottom: 1.5625rem; }
  @media screen and (min-width: 1100px) {
    .form__textarea {
      width: calc(100% - 30px); } }

.form__input, .form__textarea {
  padding: 1.4375rem 0 1.5625rem 1.25rem;
  border: 1px solid #b7b7b7;
  font-family: Muli, Arial, sans-serif; }

.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  color: #444444;
  opacity: 1; }

.form__input::placeholder, .form__textarea::placeholder {
  color: #444444;
  opacity: 1; }

.form__btn {
  margin-left: 15px;
  border: 1px solid #b7b7b7; }
