.service
	+paddingRem(161px, 0, 72px, 0)
	position: relative
	overflow: hidden
	&__title
		+marginEm(0, 0, 102px, 0)
		+col
		+size-lg(6)
		+shift-lg-left(6)
	&__advantages
		+col()
		+size-lg(6)
		+shift-lg-left(6)
	&__teamPhoto
		width: 45%
		height: auto
		position: absolute
		bottom: 0
		left: 0
	&::before
		content: "O"
		display: block
		font-family: $fontTitle
		+fontRem(1200px)
		position: absolute
		left: -26.5rem
		bottom: -13rem
		line-height: .75
		color: $mainColor
		opacity: .7
		z-index: 2
	&__advantage
		width: 50%
		box-sizing: border-box
		border-top: 1px solid gray
		&:nth-child(odd)
			border-right: 1px solid #757575
		&:nth-child(-n+2)
			border-top: none

.serviceAdvantage
	+paddingEm(51px, 0, 60px, 0)
	box-sizing: border-box
	text-align: center
	&__icon
		display: inline-block
		width: 41px
		height: 41px
		margin-bottom: 28px
	&__title
		margin-bottom: 1.6em
