.service
	+paddingRem(65px, 0, 72px, 0)
	position: relative
	overflow: hidden
	+xs-block
		padding-top: 5.03rem
	&__title
		+marginEm(0, 0, 102px, 0)
		+col
		+size(12)
		+size-lg(6)
		+shift-lg-left(6)
	&__advantages
		+col()
		+size(12)
		+size-lg(6)
		+shift-lg-left(6)
		display: flex
		flex-wrap: wrap
	+lg-block
		&::before
			content: ""
			display: block
			box-sizing: border-box
			width: 50%
			height: 0
			padding-bottom: 35%
			border: 130px solid $mainColor
			border-radius: 50%
			position: absolute
			left: -20%
			bottom: -35%
			opacity: .7
			z-index: 2
		&::after
			content: ""
			display: block
			width: 50%
			height: 0
			padding-bottom: 50%
			position: absolute
			left: 0
			bottom: 0
			background: url(../../static/img/general/serviceTeam-885w.jpg) left bottom no-repeat
			background-size: contain
	@media (min-resolution: 192dpi)
		&::after
	    background-image: url(../../static/img/general/serviceTeam-1700w-2x.jpg)

	&__advantage
		// +col
		// +size(12)
		// +size-xs(6)
		width: 100%
		&:not(:first-child)
			border-top: 1px solid gray
		+xs-block
			width: 50%
			&:nth-child(odd)
				border-right: 1px solid #757575
			&:nth-child(-n+2)
				border-top: none

.serviceAdvantage
	+paddingEm(51px, 0, 60px, 0)
	padding-left: $offset_one_side
	padding-right: $offset_one_side
	box-sizing: border-box
	text-align: center
	&__icon
		display: inline-block
		width: 41px
		height: 41px
		margin-bottom: 28px
	&__title
		margin-bottom: 1.6em
