.service
	&__advantages
		+col()
		+size-lg(6)
		+shift-lg-left(6)
.serviceAdvantage
	width: 50%
	+paddingRem(51px, 0, 60px, 0)	
	box-sizing: border-box
	text-align: center
	border-top: 1px solid gray
	&:nth-child(odd)
		border-right: 1px solid #757575
	&:nth-child(-n+2)
		border-top: none
	&__icon
		display: inline-block
		width: 41px
		height: 41px
		margin-bottom: 40px
	&__title
		margin-bottom: 38px
	&__text
		margin-top: -10px
