.service#service
	.wrapper
		.row
			+title({
						"main": "Clean idea and unique design",
						"behind": "Service"
				})(class = "service__title title_align_left")
			.service__advantages
		
					.service__advantage.serviceAdvantage
						span.serviceAdvantage__icon
							+icon('gears')
						.serviceAdvantage__title.subtitle Excellent Features
						p.serviceAdvantage__text.text.text_size_m Lorem ipsum doloar sit amet meconstur adipiscing.
					.service__advantage.serviceAdvantage
						span.serviceAdvantage__icon
							+icon('camera')
						.serviceAdvantage__title.subtitle Simple & Clean
						p.serviceAdvantage__text.text.text_size_m Lorem ipsum doloar sit amet meconstur adipiscing.
					.service__advantage.serviceAdvantage
						span.serviceAdvantage__icon
							+icon('case')
						.serviceAdvantage__title.subtitle Parallax Effect
						p.serviceAdvantage__text.text.text_size_m Lorem ipsum doloar sit amet meconstur adipiscing.
					.service__advantage.serviceAdvantage
						span.serviceAdvantage__icon
							+icon('bell')
						.serviceAdvantage__title.subtitle 24/7 Support
						p.serviceAdvantage__text.text.text_size_m Lorem ipsum doloar sit amet meconstur adipiscing.
	picture.service__teamPhoto
		source(srcset="static/img/general/serviceTeam-885w.jpg, static/img/general/serviceTeam-1700w-2x.jpg 2x")
		img(src="static/img/general/serviceTeam-885w.jpg", alt="Our service team")
	
