mixin portfolioPrev(name)
	.portfolioPrev(class=`portfolioPrev_${name.toLowerCase()}`)
		.portfolioPrev__descr
			span.portfolioPrev__title.subtitle Fulwidth slides
			span.portfolioPrev__name.text= name
			.portfolioPrev__controls
				a(href=`#${name.toLowerCase()}`).portfolioPrev__popup
					button.portfolioPrev__btn.portfolioPrev__btn_view
						+icon("search")
				button.portfolioPrev__btn.portfolioPrev__btn_link
					+icon("link-symbol")

.portfolio
		+portfolioPrev("Travel")
		+portfolioPrev("Fashion")
		+portfolioPrev("Fantasy")
		+portfolioPrev("Animate")
		+portfolioPrev("1")
		+portfolioPrev("2")
		+portfolioPrev("3")
		+portfolioPrev("4")
		
+portfolioItem([
	{
		"title": "Fashion",
		"slider": [
		"Fashion1",
		"Fashion2",
		"Fashion3",
		"Fashion4",
		"Fashion5"
		],
		"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
	}
])

		//- .fashion#fashion.mfp-hide pepepepep
