mixin portfolioPrev(name)
	.portfolioPrev(class=`portfolioPrev_${name.toLowerCase()}`)
		.portfolioPrev__descr
			span.portfolioPrev__title.subtitle Fulwidth slides
			span.portfolioPrev__name.text= name
			.portfolioPrev__controls
				a(href=`#${name.toLowerCase()}`).portfolioPrev__popup
					button.portfolioPrev__btn.portfolioPrev__btn_view
						+icon("search")
				button.portfolioPrev__btn.portfolioPrev__btn_link
					+icon("link-symbol")

.portfolio
	.portfolio__prev#portfolio__prev
		+portfolioPrev("Travel")
		+portfolioPrev("Fashion")
		+portfolioPrev("Fantasy")
		+portfolioPrev("Animate")
		+portfolioPrev("Extreme")
		+portfolioPrev("Support")
		+portfolioPrev("Content")
		+portfolioPrev("Outsourcing")
	.portfolio__gallery.mfp-hide
		+portfolioItem([
			{
				"title": "Travel",
				"slider": ["1", "2", "3", "4", "5"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Fashion",
				"slider": ["1", "2", "3", "4", "5"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Fantasy",
				"slider": ["1", "2", "3", "4", "5"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Animate",
				"slider": ["1", "2", "3", "4", "5"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Extreme",
				"slider": ["1", "2", "3", "4", "5"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Support",
				"slider": ["1", "2", "3", "4", "5"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Content",
				"slider": ["1", "2", "3", "4", "5"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Outsourcing",
				"slider": ["1", "2", "3", "4", "5"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			}
		])

		//- .fashion#fashion.mfp-hide pepepepep
