.portfolio#portfolio
	.portfolio__wrapper
		+portfolioItem([
			{
				"title": "Travel",
				"slider": ["Slide1 text", "Slide2 text", "Slide3 text", "Slide4 text", "Slide5 text"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Fashion",
				"slider": ["Slide1 text", "Slide2 text", "Slide3 text", "Slide4 text", "Slide5 text"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Fantasy",
				"slider": ["Slide1 text", "Slide2 text", "Slide3 text", "Slide4 text", "Slide5 text"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Animate",
				"slider": ["Slide1 text", "Slide2 text", "Slide3 text", "Slide4 text", "Slide5 text"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Extreme",
				"slider": ["Slide1 text", "Slide2 text", "Slide3 text", "Slide4 text", "Slide5 text"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Support",
				"slider": ["Slide1 text", "Slide2 text", "Slide3 text", "Slide4 text", "Slide5 text"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Content",
				"slider": ["Slide1 text", "Slide2 text", "Slide3 text", "Slide4 text", "Slide5 text"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			},
			{
				"title": "Business",
				"slider": ["Slide1 text", "Slide2 text", "Slide3 text", "Slide4 text", "Slide5 text"],
				"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum."
			}
		])
	+button({
			"text": "Show more"
		})(class = "portfolio__prevBtn btn btn_color_main btn_size_xs" id="showMore")
