.footer
	+paddingEm(64px, 0, 70px, 0)
	text-align: center
	background-color: $mainColorBlack
	&__row
		justify-content: space-between
	&__item
		margin-bottom: 4em
		+sm-block
			margin-bottom: 0

	&__phone
		+col()
		+size(12)
		+size-xs(6)
		+size-sm(3)
		+sm-block
			order: 1
	&__social
		+col()
		+size(12)
		+size-xs(10)
		+size-sm(4)
		+paddingRem(16px, 36px, 0, 36px)
		+sm-block
			order: 2
	&__adress
		+col()
		+size(12)
		+size-xs(6)
		+size-sm(3)
		+sm-block
			order: 3


.phone
	&__link
		display: block
		width: 3.25rem
		height: 3.25rem
		box-sizing: border-box
		+paddingRem(12px, 12px, 12px, 12px)
		border: 1px solid $borderColor
		margin: 0 auto 1.7rem
		border-radius: 50%
		background-color: rgba(255, 255, 255, .1)
	&__info
		color: #fff
.adress
	&__link
		@extend .phone__link
	&__info
		@extend .phone__info
