footer.footer
	.wrapper
		.row
			.footer__phone.phone
				a(href="tel:+123999000122233").phone__link
					+icon('phone', 'color_light')
				.phone__info.text.vcard
					.fn.org 
						span.value-title(title="Marvel")
					.tel
						span.value-title(title="+123(999) 	000-122-233") Phone : (999) 000-122-233

			.footer__social.social
				a(href="#twtr").social__link
					+icon('twtr', 'color_light')
				a(href="#lnkdn").social__link
					+icon('lnkdn', 'color_light')
				a(href="#fb").social__link
					+icon('fb', 'color_light')
				a(href="#skype").social__link
					+icon('skype', 'color_light')
				a(href="#pintrst").social__link
					+icon('pintrst', 'color_light')
				a(href="#apple").social__link
					+icon('apple', 'color_light')

			.footer__adress.agress
				a(href="#map").adress__link
					+icon('adress', 'color_light')
				.adress__info.text.vcard
					.fn.org 
						span.value-title(title="Marvel")
					.adr
						span.region 123 state,
						span.country-name South America,
						span.postal-code 205