.advantage
	+col()
	+size-lg(4)
	text-align: center
	color: #fff
	&_black
		+paddingRem(81px, 27px, 130px, 27px)
		background-color: $mainColorBlack
	&_light
		+paddingRem(56px, 27px, 76px, 27px)
		background-color: $mainColor
	&__title
		font-family: $fontTitle
		+fontRem(22px)
		&_marg
			+marginRem(0, 0, 39px, 0)

.advantage__icon
	display: inline-block
	&_star
		width: 111px
		height: 103px
		+marginRem(11px, 0, 56px, 0)
	&_internet
		width: 104px
		height: 104px
		+marginRem(0, 0, 48px, 0)

	&_loked
		height: 127px
		+marginRem(0, 0, 44px, 0)



.about__num
	+wrapper
.numPanel
	+row-flex
	justify-content: space-between
.numItem
	&__val
		font-family: $fontTitle
		+fontRem(46px)


