.about
	+paddingRem(98px, 0, 73px, 0)
	text-align: center
	position: relative
	&__title
		margin-bottom: 1.81em
	&__text
		+col
		+size-xs(10)
		+shift-xs-left(1)
		margin-bottom: 4.187em
	&__controls
		+marginRem(0, 0, 83px, 0)
	&__btn
		margin-right: $offset_one_side
	&__advantages
		margin-bottom: 3.875rem
		justify-content: center
	&__advantage
		+col
		+size(12)
		+size-xs(6)
		+size-md(4)
		margin-bottom: $offset
	&__num
		+wrapper
		padding-top: 5.4rem
		padding-bottom: 4.5625rem
	&__numTitle
		margin-bottom: 3.83em
		text-transform: uppercase
	&::before
		content: "O"
		display: block
		font-family: $fontTitle
		+fontRem(1398px)
		position: absolute
		top: 5.5rem
		left: -50%
		line-height: .75
		color: $mainColor
		z-index: -1

.advantage
	text-align: center
	color: $textColorLight
	&_black
		+paddingRem(81px, 27px, 130px, 27px)
		background-color: $mainColorBlack
	&_light
		+paddingRem(56px, 16px, 56px, 16px)
		background-color: $mainColor
	&__title
		font-family: $fontTitle
		+fontEm(22px)
		&_marg
			margin-bottom: 1.272em

.advantage__icon
	display: inline-block
	&_star
		width: 111px
		height: 103px
		+marginRem(10px, 0, 56px, 0)
	&_internet
		width: 104px
		height: 104px
		+marginRem(0, 0, 44px, 0)
	&_loked
		height: 127px
		+marginRem(0, 0, 42px, 0)



.numPanel
	+row-flex
	justify-content: space-between
	+paddingRem(0, 20px, 0, 36px)
.numItem
	&__val
		font-family: $fontTitle
		+fontEm(46px)
		margin-bottom: 0.15em
