.about
	.wrapper
		+title({
				"main": "This is the one page polo",
				"behind": "About"
			})(class = "about__title")
		.about__text.text.text_size_m Molestie ultricies quam. Donec at sem. Praesent pretium. Maorbi quis nulla vehicula felsd laoreet. Sed ullamcorper arcu ente. Sed tempus tempor cild  Nulla vierra ultrices magnal Nam rutrum congue diam.do eiusmod tempor incididunt ut dolore magna aliqua. Utdi eni ad minim veniam, quis nostrud exercitationconsequat. 
		.about__controls
			+button({
				"text": "More info"
			})(class = "btn_color_black about__btn")

			+button({
				"text": "Join Experiance"
			})(class = "btn_color_main")
		.about__advantages.row
			.about__advantage.advantage.advantage_black
				div.advantage__icon.advantage__icon_star
					+icon('star-half', 'color_main')
				div.advantage__title Responsive design
			.about__advantage.advantage.advantage_light
				span.advantage__icon.advantage__icon_internet
					+icon('internet', 'color_light')
				div.advantage__title.advantage__title_marg Awesome features
				p.advantage__text.text.text_size_m.text_color_light Lorem ipsum dolor sit amet, consectetur adipiscing elitelquam. Fusce quis nulla tincidunt interdum magna vitae.
			.about__advantage.advantage.advantage_black
				span.advantage__icon.advantage__icon_loked
					+icon('locked', 'color_main')
				div.advantage__title Powerful security
		section.about__num
			h2.about__numTitle.title__main Here’re some impressive numbers about us
			.numPanel
				.numItem
					.numItem__val 7533
					p.numItem__text.text Project Complate
				.numItem
					.numItem__val 4222
					p.numItem__text.text On Going Project
				.numItem
					.numItem__val 6980 +
					p.numItem__text.text Happy Client
				.numItem
					.numItem__val 100%
					p.numItem__text.text Positive Feedback
