.features
	.wrapper
		+title({
				"main": "We're Creative Crafting With Love",
				"behind": "Features"
			})(class = "features__title")
		.features__list.row
			+feature({
				"items": [
					{
						"title": "Powerful Security",
						"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.",
						"class": "security",
						"icon" : "padlock"
					},
					{
						"title": "Creative Ideas",
						"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.",
						"class": "ideas",
						"icon": "bulb"
					},
					{
						"title": "Powerfull Admin Panel",
						"text": "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.",
						"class": "adminPanel",
						"icon": "gears"
					},
					{
						"title": "High Resolution Theme",
						"text" : "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.",
						"class": "resolution",
						"icon": "microphone"
					},
					{
						"title": "Awesome Interface",
						"text" : "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.",
						"class": "interface",
						"icon": "sunglasses"
					},
					{
						"title": "Untimade Website Builder",
						"text" : "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.",
						"class": "websiteBuilder",
						"icon": "paper-plane"
					},
					{
						"title": "Responsive Theme",
						"text" : "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.",
						"class": "responsive",
						"icon": "laptop"
					},
					{
						"title": "Custom content blocks",
						"text" : "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.",
						"class": "content",
						"icon": "bell"
					},
					{
						"title": "Trendy design",
						"text" : "Lorem ipsum dolor sicon adipiscing elit. Etiam antferme ntubero eget rorem interdum.",
						"class": "design",
						"icon": "camera"
					}
				]
			})
