header.header
	.wrapper
		.row.header__row
			.header__logo.logo
				picture.logo__img
					source(srcset="static/img/general/logo.png, static/img/general/logo-2x.png")
					img(src="static/img/general/logo.png", alt="Marvel")
			.header__navPanel
				.dropdown.header__dropdown
					span.dropdown__line
				+nav([
				{
				"href": "#home",
				"text": "Home"
				},
				{
				"href": "#service",
				"text": "Service"
				},
				{
				"href": "#about",
				"text": "About"
				},
				{
				"href": "#portfolio",
				"text": "Portfolio"
				},
				{
				"href": "#plans",
				"text": "Plans"
				},
				{
				"href": "#contact",
				"text": "Contact"
				}
				])(class = "header__nav")
