mixin portfolioItem(data)
  each i in data
    .portfolioItem(id= i.title.toLowerCase())
      +title({
        "main": i.title,
        "behind": null
      })(class = "portfolioItem__title")
      
      .portfolioItem__slider.slider-for
        each j in i.slider
          .portfolioItem__pic(class='portfolioItem__pic_' + j)
        //-each j, index in i.slider
          //-- var num = index+1
        
          //- - var num = index+1
          //- picture.portfolioItem__pic
          //-   source(srcset="../static/img/content/portfolio/prev" + num + "-966w-2x.jpg")
          //-   img(src="../static/img/content/portfolio/prev" + num + "-966w-2x.jpg", alt= j)
      .portfolioItem__sliderNav.slider-nav
        each j in i.slider
          .portfolioItem__prev(class='portfolioItem__prev_' + j )
          //- - var num = index+1
          //- picture.portfolioItem__prev
          //-   source(srcset="../static/img/content/portfolio/prev" + num + "-483w.jpg")
          //-   img(src="../static/img/content/portfolio/prev" + num + "-483w.jpg", alt= j)

      p.portfolioItem__text.text= i.text
      button.portfolioItem__close.mfp-close
