.portfolioItem
  width: 90%
  box-sizing: border-box
  font-size: .5rem
  //margin: 0 auto
  //position: relative
  +paddingEm(30px, 30px, 30px, 30px)
  border: 2px solid $mainColor
  background-color: #fff
  +xs-block
    width: 80%
    font-size: .7rem
  +sm-block
    width: 60%
    font-size: 1rem
  +lg-block
    font-size: 1.3rem
  &__title
    +marginEm(0, 0, 30px, 0)
  &__slider
    width: 100%


  &__pic
      width: 100%
      height: 0
      padding-bottom: 8%
      font-size: 0

      &_1
        background: url(../../static/img/content/portfolio/prev1-483w.jpg) center bottom no-repeat
        background-size: cover
        @media (min-resolution: 192dpi)
          background-image: url(../../static/img/content/portfolio/prev1-966w-2x.jpg)
        +lg-block
          background-image: url(../../static/img/content/portfolio/prev1-966w-2x.jpg)
        @media (min-resolution: 192dpi) and (min-width: $break_lg)
          background-image: url(../../static/img/content/portfolio/prev1-1720w.jpg)

      &_2
        background: url(../../static/img/content/portfolio/prev2-483w.jpg) center no-repeat
        background-size: cover
        @media (min-resolution: 192dpi)
          background-image: url(../../static/img/content/portfolio/prev2-966w-2x.jpg)
        +lg-block
          background-image: url(../../static/img/content/portfolio/prev2-966w-2x.jpg)

        @media (min-resolution: 192dpi) and (min-width: $break_lg)
          background-image: url(../../static/img/content/portfolio/prev2-1720w.jpg)

      &_3
        background: url(../../static/img/content/portfolio/prev3-483w.jpg) center no-repeat
        background-size: cover
        @media (min-resolution: 192dpi)
          background-image: url(../../static/img/content/portfolio/prev3-966w-2x.jpg)
        +lg-block
          background-image: url(../../static/img/content/portfolio/prev3-966w-2x.jpg)

        @media (min-resolution: 192dpi) and (min-width: $break_lg)
          background-image: url(../../static/img/content/portfolio/prev3-1720w.jpg)
      &_4
        background: url(../../static/img/content/portfolio/prev4-483w.jpg) center no-repeat
        background-size: cover
        @media (min-resolution: 192dpi)
          background-image: url(../../static/img/content/portfolio/prev4-966w-2x.jpg)
        +lg-block
          background-image: url(../../static/img/content/portfolio/prev4-966w-2x.jpg)
        @media (min-resolution: 192dpi) and (min-width: $break_lg)
          background-image: url(../../static/img/content/portfolio/prev4-1720w.jpg)
      &_5
        background: url(../../static/img/content/portfolio/prev5-483w.jpg) center no-repeat
        background-size: cover
        @media (min-resolution: 192dpi)
          background-image: url(../../static/img/content/portfolio/prev5-966w-2x.jpg)
        +lg-block
          background-image: url(../../static/img/content/portfolio/prev5-966w-2x.jpg)
        @media (min-resolution: 192dpi) and (min-width: $break_lg)
          background-image: url(../../static/img/content/portfolio/prev5-1720w.jpg)

  &__text
    text-align: center
    color: $textColorBlack
  &__close
    position: absolute
    top: -1rem
    right: -1rem
.slick-dots li button:before
  +fontRem(40px)
  color: $textColor
.mfp-arrow
  background-color: $mainColor
