.btn
	min-width: 226px
	min-height: 64px
	+fontRem(18px)
	text-align: center
	vertical-align: middle
	&_color
		&_main
			background-color: $mainColor
			color: $mainColorBlack
		&_clear
			border: solid 1px #444444
			background-color: transparent
		&_black
			background-color: $mainColorBlack
			color: $mainColor
	&_textTransform
		text-transform: uppercase
	&_size
		&_s
			min-width: 184px
			min-height: 60px
		&_xs
			min-width: 127px
			min-height: 44px

