.btn
	// min-width: 227px
	// min-height: 60px
	+fontEm(18px)
	min-width: 12.61em
	min-height: 3.33em
	font-family: $fontTitle
	text-align: center
	vertical-align: middle
	&_color
		&_main
			background-color: $mainColor
			color: $mainColorBlack
		&_clear
			border: solid 1px #444444
			background-color: transparent
		&_black
			background-color: $mainColorBlack
			color: $mainColor
	&_textTransform
		text-transform: uppercase
	&_size
		&_s
			// min-width: 180px
			// min-height: 56px
			min-width: 10em
			min-height: 3.11em
		&_xs
			// min-width: 127px
			// min-height: 40px
			+fontEm(12px)
			min-width: 10.58em
			min-height: 3.33em
