.contactBlock
	+paddingRem(120px, 0, 130px, 0)
	background-color: #f0f0f0
	background-image: url(../../static/img/general/map-1920w.png)
	background-position: center
	background-repeat: no-repeat
	background-size: cover

	&__title
		+marginRem(0, 0, 174px, 0)
		.title__behind
			color: #e6e6e6
	&__form
		+row-flex()
.form
	&__field
		+col
		+size-xs(12)
		+size-sm(6)
		margin-bottom: 1.3125rem
		position: relative
		&_textarea
			+col()
			+size-xs(12)
			margin-bottom: 1.1rem
	&__input
		display: inline-block
		width: 100%
	&__textarea
		width: 100%
		min-height: 31.8125rem

	&__input,
	&__textarea
		+paddingRem(23px, 0, 21px, 20px)
		border: 1px solid $borderColor
		font-family: $fontText
	&__input::placeholder,
	&__textarea::placeholder
		color: $textColorBlack
		opacity: 1
	&__btn
		min-width: 147px
		margin-left: $offset_one_side
		border: 1px solid $borderColor

.error
	color: #B84747
label.error
	position: absolute
	left: 0
	bottom: 0
	transform: translateY(100%)
