.contactBlock
	+paddingRem(120px, 0, 130px, 0)
	position: relative
	background-color: #f0f0f0
	background-image: url(../../static/img/general/map-560w.png)
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	+xs-block
		background-image: url(../../static/img/general/map-780w.png)
	+sm-block
		background-image: url(../../static/img/general/map-960w.png)
	+md-block
		background-image: url(../../static/img/general/map-1100w.png)
	+lg-block
		background-image: url(../../static/img/general/map-1920w.png)

	&__title
		+marginEm(0, 0, 174px, 0)
		.title__behind
			color: #e6e6e6
	&__form
		+row-flex()
.form
	&__field
		+col
		+size(12)
		+size-sm(6)
		margin-bottom: 1.3125rem
		position: relative
	&__fieldTextarea
		position: relative
		+col()
		+size(12)
		min-height: 18rem
		margin-bottom: 1.1rem
	&__textarea
		width: 100%
		height: 100%
		overflow: auto
		+sm-block
			min-height: 31.8125rem
	&__input
		display: inline-block
		width: 100%


	&__input,
	&__textarea
		+paddingRem(23px, 0, 21px, 20px)
		border: 1px solid $borderColor
		font-family: $fontText
		&:focus
			outline: 2px solid $mainColor
	&__input::placeholder,
	&__textarea::placeholder
		color: $textColorBlack
		opacity: 1

	&__btn
		min-width: 147px
		margin-left: $offset_one_side
		border: 1px solid $borderColor
.callback
	&__wrap
		height: 100vh
		position: fixed
		top: 0
		left: 0
		right: 0
		background: rgba(0, 0, 0, .3)
		opacity: 0
		visibility: hidden
		transition: all .5s
		&_visible
			opacity: 1
			visibility: visible
	&__icon
		display: inline-block
		width: 2em
		height: 2em
		&_color
			&_succsess
				fill: #5cb85c
			&_error
				fill: #d9534f
	&__item
		width: 287px
		box-sizing: border-box
		padding: 1rem
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		font-family: $fontTitle
		+fontRem(20px)
		background-color: $textColorLight
		text-align: center
		&_success
			border: 1px solid $mainColor
		&_error
			border: 1px solid #d9534f
	&__closeBtn
		position: absolute
		top: -1rem
		right: -1rem
	&__title
		+fontRem(25px)
		margin-bottom: .8em
	&__text
		margin-bottom: .8em






.error
	color: #B84747
label.error
	position: absolute
	left: 0
	bottom: 0
	transform: translateY(100%)
