.pricing
	.wrapper
		+title({
				"main": "Choose your plan",
				"behind": "Pricing"
			})(class = "pricing__title")
		.pricing__plans.row
			+plan([
				{
					"header":{
						"name": "Standart",
						"price": "107",
						"descr": "15 day free trial on all accounts"
					},
					"list":[
						"10 Pages Website",
						"Sell 1 Product & Accept Donations",
						"Developer Platform",
						"20 Pages, Galleries",
						"120 GB Cloud Storage",
						"-",
						"-"
					]
				},
				{
					"header": {
						"name": "Premium",
						"price": "433",
						"descr": "15 day free trial on all accounts"
					},
					"list": [
						"100 Pages Website",
						"Sell 1 Product & Accept Donations",
						"Developer Platform",
						"90 Pages, Galleries",
						"500 GB Cloud Storage",
						"Mobile Website and Store",
						"-"
					]
				},
				{
					"header": {
						"name": "Ultimate",
						"price": "1233",
						"descr": "15 day free trial on all accounts"
					},
					"list": [
						"100 Pages Website",
						"Sell 1 Product & Accept Donations",
						"Developer Platform",
						"90 Pages, Galleries",
						"500 GB Cloud Storage",
						"Mobile Website and Store",
						"24/7 Support "
					]
				}
			])
