.feature
	padding-left: 5.44em
	position: relative
	&__icon
		display: inline-block
		width: 4.187em
		height: 4.187em
		padding: 1.375em
		box-sizing: border-box
		border-radius: 100%
		position: absolute
		top: 0
		left: 0
		&_security,
		&_interface
			background-color: #73c8b7
		&_ideas,
		&_websiteBuilder
			background-color: #31aae2
		&_adminPanel
			background-color: #c183d6
		&_resolution
			background-color: #eb768c
		&_responsive
			background-color: #ebd175
		&_content
			background-color: #718ac7
		&_design
			background-color: #4be3a4

	&__title
		margin-bottom: 1.2em
