mixin feature(data)
	each item in data.items
		.feature.features__item
			span.feature__icon(class=`feature__icon_${item.class}`)
				+icon(item.icon, 'color_light')
			.feature__title.subtitle= item.title
			p.feature__text.text.text_size_m= item.text
