.member
	position: relative
	&__text
		+paddingEm(0, 24px, 0, 24px)
		background-color: #ebebeb
	&__infoItem
		display: block
		+paddingRem(22px, 0, 22px, 0)
		text-align: center
	&__infoItem:not(:last-child)
		border-bottom: 1px dashed $borderColor
	&__position
		+fontEm(11px)
	&__img
		display: block
		margin-bottom: 8px
	img
		width: 100%
		height: auto

	&__details
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: -1
		opacity: 0
		display: flex
		flex-direction: column
		+paddingEm(64px, 24px, 0, 24px)
		box-sizing: border-box
		font-size: .9rem
		text-align: center
		background-color: $mainColor
		color: #000
		+xs-block
			font-size: 1rem
		+sm-block
			padding-top: 6em
	&__detailsName
		margin-bottom: 0.71em
		font-family: $fontTitle
		+fontEm(24px)
		font-weight: bold
		text-transform: uppercase
	&__detailsPos
		@extend .member__detailsName
		+fontEm(16px)
	&__detailsText
		margin: auto
		padding: 0 0.875em
		font-family: $fontText
		line-height: 1.75
		+fontEm(14px)


	&__detailsSocial
		padding: 2.5rem 2% 3.125rem
		border-top: 1px dashed $borderColor
	&__socialLink
		fill: rgba(0, 0, 0, .5)
