.member
	position: relative
	&__info
		+paddingEm(0, 24px, 0, 24px)
		background-color: #ebebeb
		&:hover .member__details
			display: block
	&__infoItem
		display: block
		+paddingRem(22px, 0, 22px, 0)
		text-align: center
	&__infoItem:not(:last-child)
		border-bottom: 1px dashed $borderColor
	&__position
		+fontEm(11px)
	&__img
		display: block
		margin-bottom: 8px
	img
		width: 100%
		height: auto

	&__details
		position: absolute
		top: 0
		bottom: 0
		left: 0
		+paddingEm(96px, 24px, 0, 24px)
		text-align: center
		background-color: $mainColor
		color: #000
		display: none
	&__detailsName
		margin-bottom: 0.71em
		font-family: $fontTitle
		+fontEm(24px)
		font-weight: bold
		text-transform: uppercase
	&__detailsPos
		@extend .member__detailsName
		+fontEm(16px)
	&__detailsText
		margin: 4.71em 0
		//+marginRem(66px, 0, 117px, 0)
		padding: 0 0.875em
		font-family: $fontText
		line-height: 1.75
		+fontEm(14px)
	&__detailsSocial
		position: absolute
		left: 0
		right: 0
		bottom: 0
		+paddingRem(40px, 34px, 50px, 34px)
		border-top: 1px dashed $borderColor
	&__socialLink
		fill: rgba(0, 0, 0, .5)
.member:hover .member__details
	display: block
