.title
	position: relative
	line-height: .7
	text-transform: uppercase
	text-align: center
	font-size: .55rem
	+xs-block
		font-size: 1rem
	&_align_left
			text-align: left
	&__main
			width: 100%
			+fontEm(30px)
			font-family: $fontTitle
			color: $textColorBlack
			&_pos_absolute
				position: absolute
				bottom: 0
				transform: translateY(50%)
				+sm-block
					transform: translateY(0)


	&__behind
			+fontEm(91px)
			font-family: $fontSubtitle
			color: #f0f0f0
#yourElement
  animation-duration: 3s
  animation-delay: 2s
  animation-iteration-count: infinite
