.nav
  display: flex
  text-align: center
  &__link
    display: inline-block
    +fontEm(26px)
    font-family: $fontLight
    text-transform: uppercase
    color: $textColorLight
    +md-block
      +fontEm(14px)
      transition: .5s ease-in-out
      &:hover,
      &:focus
        color: $mainColor
        outline: none
